.button{
    border-radius: 10px;
    padding: 10px 25px;
    border: 2px solid rgb(106, 26, 26);
    background-color: rgb(106, 26, 26);
    cursor: pointer;
    color: #fff;
    text-align: center;
    font-weight: 900;
    size: 25px;
    letter-spacing: inherit;
    position: relative;
    left: 10px;
}
.input{
    border-radius: 10px;
    padding: 10px 75px;
    border: 2px solid rgb(106, 26, 26);
    background-color: #f6e4dd;
    cursor: pointer;
    font-family: publicsans-semibold,sans-serif;
    color: #fff;
    text-align: center;
    font-weight: 500;
    size: 25px;
    letter-spacing: inherit;
}

form{
    position: relative;
    bottom: 200px;
    left: 50px;
    font-family: publicsans-semibold,sans-serif;
    font-weight: 700;
}

p{
    position: relative;
    top: 80px;
    left: 30px;
    padding: 10px 25px;
    font-size: 20px;
    text-align: left;
}

img{
    position: relative;
    bottom: 110px;
    right: 40px
}
